# Machine learning steps:

### 1. Gather data
### 2. Preprocess data
### 3. Choose model
### 4. train model
### 5. test the model
### 6. Hypertuning
### 7. Test against real world data

# Pandas

In [8]:
import pandas as pd
import numpy as np

In [ ]:
# numpy 
"""
2 - scalar
[1, 2] - vector
[[1, 2], [3, 4]] - matrix
"""
# pandas
"""
1d - series - homogenous array, size-immutable
2d - Dataframe - heterogenously typed columns, size-mutable
"""

#### Series - array like
#### Dataframe - tabular

## Series

In [11]:
# pandas.Series(data, index, dtype)

In [17]:
series = pd.Series([1, 2, 3, 4, 5])
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Creating series using numpy

In [26]:
series1 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e']) ##randn will take -ve numbers as well, -1 to 1 numbers
print(series1)

a   -1.043814
b    0.937861
c   -1.119614
d   -0.398839
e    0.092144
dtype: float64

## Creating series using dictionary

In [29]:
dictionary = {'a':1, 'b':2, 'c':3}
d1 = pd.Series(dictionary)
d1

a    1
b    2
c    3
dtype: int64

#### [] - series
#### [[]] - dataframe

In [34]:
# d1.iloc[[r, c]] - index based location fetching
# d1.loc[[r, c]] - row and column based location fetching

In [36]:
d1[[1, 2]]

C:\Users\ksund\AppData\Local\Temp\ipykernel_13416\2823399719.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  d1[[1, 2]]

b    2
c    3
dtype: int64

In [38]:
d1.iloc[[1, 2]]

b    2
c    3
dtype: int64

In [42]:
series + series1 #index type must match for addition operation else gives wrong result

a   -0.043814
b    2.937861
c    1.880386
d    3.601161
e    5.092144
dtype: float64

In [44]:
series2 = pd.Series(np.random.randn(5))
series2

0    0.111623
1    1.482713
2   -1.337679
3    0.005507
4   -0.170813
dtype: float64

In [46]:
series + series2

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

# Dataframe

In [49]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [51]:
df = pd.DataFrame(columns=['c1', 'c2', 'c3'])
print(df)

Empty DataFrame
Columns: [c1, c2, c3]
Index: []

In [69]:
df = pd.DataFrame(columns=['c1', 'c2', 'c3', 'c4'], index=range(1, 6)) #index means row count
df

    c1   c2   c3   c4
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN

In [71]:
dictionary = {'a':1, 'b':2, 'c':3}
df1 = pd.DataFrame([dictionary]) #keys will be taken as columns and values as their value at row number 1
df1

   a  b  c
0  1  2  3

In [73]:
print(df1.index)
print(df.index)

RangeIndex(start=0, stop=1, step=1)
RangeIndex(start=1, stop=6, step=1)

In [75]:
print(df1.columns)
print(df.columns)

Index(['a', 'b', 'c'], dtype='object')
Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [77]:
mylist = [
    ['Apple', 'Red'],
    ['Banana', 'Yellow'],
    ['Orange', 'orange']
]
mydata = pd.DataFrame(mylist)
mydata

        0       1
0   Apple     Red
1  Banana  Yellow
2  Orange  orange

In [79]:
mydata = pd.DataFrame(mylist, columns=['Fruit name', 'color'])
mydata

  Fruit name   color
0      Apple     Red
1     Banana  Yellow
2     Orange  orange

### Dataframe using numpy array

In [82]:
mylist1 = np.array([
    [0, 1],
    [2, 3],
    [3, 4]
])
mydf = pd.DataFrame(mylist1, columns=['Even', 'Odd'])
mydf

   Even  Odd
0     0    1
1     2    3
2     3    4

### Load a csv data using pandas

In [112]:
df = pd.read_csv('./csv files/cereals.csv')
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [114]:
# set one of the columns as index in dataframe
df.set_index('name') #it will return a new dataframe

# df.set_index('name', inplace=True) #will modify the original array

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

### Examining the dataframe

In [116]:
df.head() #returns first 5 rows

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843

In [118]:
df.tail() #return last 5 rows

                      name  calories  protein  vitamins     rating
5  Apple Cinnamon Cheerios       110        2        25  29.509541
6              Apple Jacks       110        2        25  33.174094
7                  Basic 4       130        3        25  37.038562
8                Bran Chex        90        2        25  49.120253
9              Bran Flakes        90        3        25  53.313813

In [120]:
df.head(10)

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [122]:
df.describe()

         calories    protein   vitamins     rating
count   10.000000  10.000000  10.000000  10.000000
mean    95.000000   2.900000  22.500000  49.205817
std     25.495098   0.875595   7.905694  20.315297
min     50.000000   2.000000   0.000000  29.509541
25%     75.000000   2.000000  25.000000  34.083970
50%    100.000000   3.000000  25.000000  43.079408
75%    110.000000   3.750000  25.000000  57.897582
max    130.000000   4.000000  25.000000  93.704912

### Slicing rows using bracket operators

In [125]:
df[1:4]

                        name  calories  protein  vitamins     rating
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912

In [133]:
df['calories':'rating'] #cannot do slice indexing on Index with these indexers [calories] of type str

TypeError: cannot do slice indexing on Index with these indexers [calories] of type str

In [139]:
df['calories','rating'] #in single dimension we can't call multiple column names

KeyError: ('calories', 'rating')

In [137]:
df[['calories', 'rating']]

   calories     rating
0        70  68.402973
1       120  33.983679
2        70  59.425505
3        50  93.704912
4       110  34.384843
5       110  29.509541
6       110  33.174094
7       130  37.038562
8        90  49.120253
9        90  53.313813

### Boolean filter

In [144]:
df1 = df[0:5]
bool_list = [True, False, True, True, False] 
df1[bool_list] #displays the rows where there is a True

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912

In [146]:
df['calories'] > 70 #returns boolean output

0    False
1     True
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
Name: calories, dtype: bool

In [148]:
condn = df['calories'] > 70
df[condn]

                      name  calories  protein  vitamins     rating
1        100% Natural Bran       120        3         0  33.983679
4           Almond Delight       110        2        25  34.384843
5  Apple Cinnamon Cheerios       110        2        25  29.509541
6              Apple Jacks       110        2        25  33.174094
7                  Basic 4       130        3        25  37.038562
8                Bran Chex        90        2        25  49.120253
9              Bran Flakes        90        3        25  53.313813

### filtering rows using &(and) and |(or)

In [155]:
df[ (df['calories']>70) & (df['protein']<3) ]

                      name  calories  protein  vitamins     rating
4           Almond Delight       110        2        25  34.384843
5  Apple Cinnamon Cheerios       110        2        25  29.509541
6              Apple Jacks       110        2        25  33.174094
8                Bran Chex        90        2        25  49.120253