In [1]:
!pip install mysql-connector.python

Collecting mysql-connector.python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.3/16.1 MB 2.1 MB/s eta 0:00:08
   ----- ---------------------------------- 2.1/16.1 MB 2.5 MB/s eta 0:00:06
   ------ --------------------------------- 2.6/16.1 MB 2.6 MB/s eta 0:00:06
   ------ --------------------------------- 2.6/16.1 MB 2.6 MB/s eta 0:00:06
   -------- ------------------------------- 3.4/16.1 MB 2.3 MB/s eta 0:00:06
   ---------- ----------------------------- 4.2/16.1 MB 2.5 MB/s eta 0:00:05
   ----------- ---------------------------- 4.7/16.1 MB 2.6 MB/s eta 0:00:05
   ------------- -------------------------- 5.5/16.1 MB 2.6 MB/s eta 0:00:05
   -------------- ------------------------- 6.0/16.1 MB 2.7 MB/s eta 0:00:04
   --------------- ------------------------ 6.3/16.1 MB 2.6 MB/s eta 0:00:04
   ---------------- ----------------------- 6.6/16.1 MB 2.5 MB/s eta 0:00:04
   ----------------- ---------------------- 7.1/16.1 MB 2.4 MB/s eta 0:00:04
   ------------------- -------------------- 7.9/16.1 MB 2.5 MB/s eta 0:00:04
   -------------------- ------------------- 8.1/16.1 MB 2.4 MB/s eta 0:00:04
   -------------------- ------------------- 8.4/16.1 MB 2.4 MB/s eta 0:00:04
   ---------------------- ----------------- 8.9/16.1 MB 2.4 MB/s eta 0:00:04
   ---------------------- ----------------- 9.2/16.1 MB 2.3 MB/s eta 0:00:03
   ------------------------ --------------- 9.7/16.1 MB 2.3 MB/s eta 0:00:03
   ------------------------ --------------- 10.0/16.1 MB 2.3 MB/s eta 0:00:03
   ------------------------- -------------- 10.2/16.1 MB 2.3 MB/s eta 0:00:03
   -------------------------- ------------- 10.5/16.1 MB 2.2 MB/s eta 0:00:03
   -------------------------- ------------- 10.7/16.1 MB 2.1 MB/s eta 0:00:03
   --------------------------- ------------ 11.0/16.1 MB 2.1 MB/s eta 0:00:03
   ---------------------------- ----------- 11.3/16.1 MB 2.0 MB/s eta 0:00:03
   ---------------------------- ----------- 11.3/16.1 MB 2.0 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.1 MB 2.0 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.1 MB 2.0 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.1 MB 2.0 MB/s eta 0:00:03
   ----------------------------- ---------- 11.8/16.1 MB 1.8 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.1 MB 1.8 MB/s eta 0:00:03
   ------------------------------ --------- 12.3/16.1 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.6/16.1 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.8/16.1 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.4/16.1 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.9/16.1 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.9/16.1 MB 1.7 MB/s eta 0:00:02
   ------------------------------------ --- 14.7/16.1 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/16.1 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 1.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector.python
Successfully installed mysql-connector.python-9.2.0

In [14]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import mysql.connector

db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    port = 3308
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E82DE3B080>

In [4]:
dbcursor = db.cursor()
# execute database query
dbcursor.execute("Create database if not exists booklist")

In [6]:
dbcursor.execute("show databases")

In [8]:
for i in dbcursor:
    print(i)

('assignment_schema',)
('booklist',)
('countries',)
('customer_orders',)
('hr',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('temp_schema',)

## Create table

In [10]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    port = 3308,
    database = 'booklist'
)

In [12]:
dbcursor = db.cursor()
dbcursor.execute("create table if not exists booklist.bookdetail \
(rating INT(20), book varchar(40), price decimal(16, 2))")
dbcursor.execute("show tables")

for i in dbcursor:
    print(i)

('bookdetail',)

## INSERT DATA

In [69]:
dbcursor.execute("insert into bookdetail values(5, 'abcd', 200)")
db.commit()

In [71]:
form = "Insert into bookdetail(Rating, book, price) values (%s, %s, %s)"
data = [(4, "Power of subconscious mind", 99),
        (3, "Attitude is everything", 50),
        (5, "Rich dad poor dad", 149)]
dbcursor.executemany(form, data)
db.commit()

In [73]:
dbcursor.execute("select * from bookdetail")
for i in dbcursor:
    print(i)

(5, 'abcd', Decimal('200.00'))
(4, 'Power of subconscious mind', Decimal('99.00'))
(3, 'Attitude is everything', Decimal('50.00'))
(5, 'Rich dad poor dad', Decimal('149.00'))

## UPDATE DATA

In [77]:
dbcursor.execute("update bookdetail set price=500 where book='abcd'")
db.commit()

In [79]:
dbcursor.execute("select * from bookdetail")
for i in dbcursor:
    print(i)

(5, 'abcd', Decimal('500.00'))
(4, 'Power of subconscious mind', Decimal('99.00'))
(3, 'Attitude is everything', Decimal('50.00'))
(5, 'Rich dad poor dad', Decimal('149.00'))

## DELETE DATA

In [81]:
dbcursor.execute("delete from bookdetail where book='abcd'")
dbcursor.execute("commit")

In [83]:
dbcursor.execute("select * from bookdetail")
for i in dbcursor:
    print(i)

(4, 'Power of subconscious mind', Decimal('99.00'))
(3, 'Attitude is everything', Decimal('50.00'))
(5, 'Rich dad poor dad', Decimal('149.00'))

## READ DATA

In [88]:
dbcursor.execute("select * from bookdetail")
result = dbcursor.fetchall() #returns a list of tuples
print(result)

[(4, 'Power of subconscious mind', Decimal('99.00')), (3, 'Attitude is everything', Decimal('50.00')), (5, 'Rich dad poor dad', Decimal('149.00'))]